body{
	background: url(kub.png) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
   
    
    

}

.link{
	display: flex;
	justify-content: space-between;
	text-decoration: none;

}
.text{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: red;
	height: 100vh;
	
}